body,html{
	padding: 0;
	margin: 0;
	width: 100%;
	font-family: 'Crimson Text', serif;
	font-weight: 400;
		

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
	background-color: $backgroundcolour;
	line-height: 1.7em;
	font-size: 1.03em;
	letter-spacing: 0.035em;
	background-color: $black;
	color: $white;
}

h1,h2,h3,blockquote,ul,li,p{
	padding: 0;
	margin: 0;
	list-style: none;
}



#wrapper{
	max-width: 1000px;
	width: 80%;
	margin: 0 auto;
	position: relative;
	z-index: 99;
}

#before_content{
	min-height: 300px;
	height: 75%;
	height: 74vh;
}
#top_segment{
	min-height: 80%;
	min-height: 95vh;
	@include at-query($max,$inbetween){
		min-height: 65%;
		min-height: 65vh;
	}
}

h1{
	font-size: 7rem;
	font-style: italic;
	line-height: 5rem;
	font-weight: 100;
	padding-top: 0;
}

blockquote{
	text-align: right;
	font-size: 2rem;
	line-height: 1.9rem;
	padding-bottom: 4rem;
	font-weight: bold;
}
a{
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.column{
	width: 28%;
	margin-right: 5%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-bottom: 5rem;
	padding-bottom: 20vh;
	@include at-query($max,$inbetween){
		width: 100%;
		margin: 0;
		padding-bottom: 3rem;
		text-align: center;
	}

}
.column2{
	a{
		padding-top: 1rem;
		display: block;
		img{
			max-height: 4rem;
			width: auto;
		}
	}
	h3 a{
		padding-top: 0;
	}
	sub{
		bottom: 0;
	}
}
#bottom_section{
	background-color: $black;
	padding-top: 1rem;
	-webkit-box-shadow: 0px -8px 232px 71px $black;
	-moz-box-shadow: 0px -8px 232px 71px $black;
	box-shadow: 0px -8px 232px 71px $black;
	>div:first-child{
		@include at-query($max,$inbetween){
			text-align: left;
		}
	}
	>div:last-child{
		@include at-query($max,$inbetween){
			li:last-child{
				display: inline-block;
				width: auto;
				vertical-align: top;
			}
		}
	}
}







